@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdf6e9; /* vanilla */
    color: #000;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
